<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>no</title>
    <style>
        body{
            
            background-image:radial-gradient(#087096,#E30B5C);
            color: #000000;
            background-color: #030303b6;

        }
        .no{
            
            font-size: 2rem;
            color: rgb(0, 0, 0);
            margin: 300px 350px;
        }
    </style>
</head>
<body>
    <div class="no">
        <h1>You don't have Cancer</h1>
    </div>
</body>
</html>