<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yes</title>
    <style>
        body{
            
            background-image:radial-gradient(#087096,#E30B5C);
            color: #000000;
            background-color: #030303b6;

        }
        .yes {
            
            font-size: 2rem;
            color: rgb(0, 0, 0);
            margin: 300px 450px;
        }
    </style>
    
</head>
<body>
    
    <div class="yes">
        <h1>You have Cancer</h1>
    </div>
</body>
</html>